* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, #141E30, #243B55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 100%;
    max-width: 450px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.search {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.search input {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding: 10px;
    border-radius: 30px;
    margin-right: 10px;
    color: #333;
}
.search button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.search img {
    width: 24px;
    height: 24px;
}
.search input::placeholder {
    color: #aaa;
}
.search input:focus::placeholder {
    color: transparent;
}

.weather {
    margin-top: 20px;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    animation: pulse 2s infinite;
}

.temp {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: bold;
}

.city {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.details {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.humidity, .wind {
    font-size: 18px;
    font-weight: bold;
}

.details p {
    margin: 5px 0;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@media (max-width: 480px) {
    .card {
        padding: 10px 10px;
    }

    .search {
        flex-direction: column;
    }

    .search input {
        margin:0%
    }

    .search button {
        padding: 0px
    }

    .weather-icon {
        width: 80px;
        height: 80px;
    }

    .temp {
        font-size: 36px;
    }

    .city {
        font-size: 20px;
    }

    .col img {
        width: 30px;
        height: 30px;
    }

    .humidity, .wind {
        font-size: 16px;
    }
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
